@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400;1,400&display=swap');
@import "tailwindcss";

:root {
  --background: #FAF9F6;
  --foreground: #3A4D39;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Playfair Display', serif;
}

.font-honey {
  font-family: 'Great Vibes', cursive;
}

/* Hide the Next.js static/development indicator icon */
#nextjs-portal {
  display: none !important;
}